
<section class="container meeting-header" >
 <div class="d-flex justify-content-between align-items-center">
   <h4 class="text-success">
    Meeting Details:
  </h4>

  <div class="meeting-details-actions">
    <% if can? :update, @meeting %>
      <%= link_to "Edit this meeting", edit_meeting_path(@meeting), class: "btn btn-success btn-sm" %> &nbsp;
    <% end%>
    <%= link_to "Back to meetings", meetings_path, class: "btn btn-primary btn-sm" %>
  </div>
 </div>
</section>

<%= render @meeting %>

<% if can? :destroy, @meeting %>
  <div class="d-flex justify-content-end" >
    <%= button_to "Delete this meeting", @meeting, method: :delete, class: "btn btn-sm btn-danger" %>
  </div>
<% end %>
