<section class="container">
  <div id="<%= dom_id room %>">
    <p>
      <strong>Description:</strong>
      <%= room.description %>
    </p>

    <p>
      <strong>Room Created By:</strong>
      <%= room.user.email %>
    </p>

  </div>
</section>
