<div id="message">
  <% if notice %>
  <div class="alert alert-success mt-3" role="alert">
    <%= notice %>
  </div>
  <% end %>
  <% if alert %>
  <div class="alert alert-primary mt-3" role="alert">
    <%= alert %>
  </div>
  <% end %>
</div>